@{
    ViewData["Title"] = "Home Page";
}
<head>
 <link rel="stylesheet" href="wwwroot\css\site.css">

</head>
<div class="text-center">
    <h1 class="display-4">La Romineta</h1>
    <img src="romivaga.png" alt = "Logo"/>
    @foreach(Integrante integrante in grupo.DevolverIntegrantes()) {

        <p>@integrante.getNombre()</p>

    }
</div>
